**/results/
**/__pycache__/
**/.pytest_cache/
*.egg-info/
*.pyc

# VS Code
.vscode/

# Pycharm
.idea/

*/swagger_generated/
pytestdebug.log
*.swp
*.swo
_horton_settings.json

bin/_virtualenv/*
bin/_python/*



# Java files to ignore
*.class
*.iml