azure-eventhub==5.0.1
azure.storage.blob
certifi
colorama
docker
junitparser==1.4.1
msrest
pre-commit
pytest
pytest-asyncio
pytest-repeat
pytest-testdox
pytest-timeout
python_dateutil
requests
ruamel.yaml
setuptools
six
uamqp
urllib3
PyYAML
inflection==0.5.0
