azure-eventhub==1.3.3
certifi
colorama>=0.4.1
docker>=3.5.0
junitparser>=1.3.2
msrest
pre-commit
pytest==3.8.2
pytest-asyncio
pytest-repeat
pytest-testdox
pytest-timeout
python_dateutil
requests>=2.20.0
ruamel.yaml>=0.15.71
setuptools
six
uamqp
urllib3
