setuptools==40.4.3
certifi==2018.8.24
six==1.11.0
python_dateutil==2.7.3
urllib3==1.23
pytest==3.8.2
pytest-timeout==1.3.2
msrest==0.6.0
ruamel.yaml==0.15.71
docker==3.5.0
azure-eventhub>=1.2.0
pytest-repeat>=0.7.0
uamqp>=1.1.0
